* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities */
.opacity-1 {
  opacity: 1 !important;
}
.circle-fixed {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -35px;
}
.index-cross {
  z-index: 150!important;
}

/* hambuguer btn */
.hamburguer-button {
  border: none;
  display: block;
  background: rgb(74, 71, 255);
  transition: all 0.5s;
  cursor: pointer;
}
.hamburguer-button-1 {
  z-index: 100;
}
.hamburguer-button-2 {
  z-index: 70;
}

.hamburguer-button:focus,.hamburguer-button:active {
  outline: none;
}
.hamburguer-button span {
  width: 40%;
  margin: 0 auto;
  height: 3px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.2s;
}
.sp-1 {
  top: 40%;
}
.sp-2 {
  top: 50%;
}
.sp-3 {
  top: 60%;
}
.sp-cross-1 {
  transform: rotate(45deg);
  top: 50%;
}
.sp-cross-2 {
  left: -10% !important;
  opacity: 0;
}
.sp-cross-3 {
  transform: rotate(-45deg);
  top: 50%;
}
/* background nav */
.label-nav {
  display: block;
  background:tomato;
  transition: all 0.9s;
  z-index: 4;
  margin-bottom: 0;
  overflow: hidden;
}
.label-expand {
  width: 200vw !important;
  height: 200vw !important;
  left: -50vw !important;
  bottom: -50vw !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

/* background nav */
.nav-content {
  background: transparent;
  transition: all 1s;
  z-index: 20;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}
.nav-content-expand {
  width: 100vw !important;
  height: calc(100vh - 100px) !important;
  left: 0 !important;
  bottom: 100px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  border-radius: 0 !important;
}
.nav-content ul li {
  list-style: none;
  text-align: center;
}
.nav-content ul li a {
  color: #fff;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-10px)
}
.linear-nav-content {
  width: 90vw;
  border-bottom: 1px solid #fff;
  padding: 15px 0;
  margin-top: 50px;
}
.linear-nav-content a {
  font-size: 40px;
  color: #fff;
}
@media (max-width: 1460px) {
  .nav-content ul li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 769px) {
  .label-nav,
  .hamburguer-button,
  .nav-content {
    margin-left: -25px;
    width: 50px;
    height: 50px;
  }
  .label-expand {
    height: 200vh !important;
    width: 200vh !important;
    left: -65vh !important;
    bottom: -50vh !important;
    margin-left: 0 !important;
  }
  .label-nav {
    transition: all 0.5s;
  }
  .nav-content ul li a {
    font-size: 20px;
    transform: translateX(0px)
  }
  .linear-nav-content {
    width: 70vw;
    padding: 7px 0;
    margin-top: 0px;
  }
  .linear-nav-content a {
    font-size: 20px;
  }
}
